<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8">
	    <title>Főoldal</title>
	    <!-- Load React Libraries -->
	    <!-- Note: when deploying, replace “development.js” with “production.min.js”. -->
		<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	</head>    
	<body>
		<h1>display</h1>
		<a href="/console/upload">Back to Console</a>
		
		<div>
		    <label for="calculations">Számítások:</label>
		    <select id="calculations" onchange="handleCalculationChange()">
		        <option value="">Számítási műveletek</option>
		        <option value="/calculations/all">Minden érték számítása</option>
		        <option value="/calculations/laeq">Egyenértékű A-hangnyomásszint számítása</option>
		        <option value="/calculations/lw">Hangteljesítményszint számítása</option>
		        <option value="/calculations/protectiveDistance">Védőtávolság számítása</option>
		        <option value="/calculations/impactArea">Hatásterület számítása</option>
		        <option value="/calculations/givenDistance">Adott távolságon adódó zajterhelés számítása</option>
		    </select>
		    <div id="text-field-container" style="display: none;">
	            <label for="userInput">Enter a number:</label>
	            <input type="number" id="userInput" step="any">
        	</div>
		    <button onclick="handleSubmit()">Submit</button> 
		    <button onclick="handleDifferenceSubmit()">Difference Submit</button>
		</div>
		
		<div id="difference-container"></div>
		<div id="sorting-container">
			<button onclick="handleSorting()">Rendezés LAeq alapján</button>
		</div>
		<div id="root"></div>
	<!-- 	<div id="table-container"></div>-->
		<script type="text/babel" src="/displayJS/display.js">
			
	  </script>
	</body>
</html>