<!DOCTYPE html>
<html lang="hu">
	<head>
	    <meta charset="utf-8">
	    <title>Fájl feltöltés</title>
	    <!-- Load React Libraries -->
	    <!-- Note: when deploying, replace “development.js” with “production.min.js”. -->
		<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	</head>
	<body>
		<h1>valami</h1>
	    <div id="root"></div>
	    
	<!-- React component script -->
    <script type="text/babel" src="/uploadJS/upload.js">
        
       
    </script>
	
	</body>
</html>
