<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Admin-Statistics</title>
	</head>
	<body>
		<span>
			<a href="/logout">Kijelentkezés</a>
			<a href="/admin/home">Admin-főoldal</a>
		</span>

		<div th:if="${loggedUsers != null}">
		    <div th:if="${not #lists.isEmpty(loggedUsers)}">
		        <h2 th:text="'Bejelentkezett felhasználók (Total: ' + ${#lists.size(loggedUsers)} + ')'"></h2>
		        <table>
		            <thead>
		            <tr>
		                <th>Felhasználónév</th>
		                <th>Email</th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr th:each="user : ${loggedUsers}">
		                <td th:text="${user.username}"></td>
		                <td th:text="${user.email}"></td>
		            </tr>
		            </tbody>
		        </table>
		    </div>
		    <div th:unless="${not #lists.isEmpty(loggedUsers)}">
		        <p>Senki sincs bejelentkezve.</p>
		    </div>
		</div>
		<div th:unless="${loggedUsers != null}">
		    <p>Senki sincs bejelentkezve.</p>
		</div>
	</body>
</html>