.row {
	margin-left: 0;
}

.highlighted-cell {
	--bs-table-bg-type: lightblue !important;
    background-color: lightblue !important;
}

.default-cell {
	--bs-table-bg-type: lightblue !important;
    background-color: lightblue !important;
}

#displayImage {
	float: right;
	margin: 0px 0px 15px 15px;
	max-width:600px; 
	max-height:250px;
}

#text-field-container {
	margin-right: 1%;
}

#userInputLabel {
	color: white;
 	font-size: small;
  	font-weight: bold;
}

#difference-container {
	margin-right: 1%;
}

#saveFile button {
    margin-right: 1%;
    margin-bottom: 1%;
}

#saveFile button:last-child {
    margin-right: 0;
}

#deleteRowsColumns button {
	margin-right: 1%;

}

#deleteRowsColumns button:last-child {
	margin-right: 0;
}

#line {
	border-top: 2px solid white;
	opacity: 100;
  	border-radius: 5px;
}

#tabsContainer button {
	margin-right: 1%;
	margin-bottom: 1%;
}

#tabsContainer button:last-child {
	margin-right: 0;
}

#tableName {
	color: white;
	font-weight: bold;
	font-size: medium;
}

#table-container {
    max-width: 90%;
    max-height: 70vh;
    overflow-x: auto;
    overflow-y: auto;  
}

#dataTable {
	border: 1px solid white;
}

#dataTable caption {
	position: sticky;
	z-index: 1;
	top: 0;
	font-weight: bold;
  	padding: 10px;
  	background-color: #212529; 
  	color:#4BDE4B;
  	caption-side: top;
  	border: 2px solid white;
  	border-collapse: collapse;
}

#dataTable thead {
	position: sticky;
	top: 48px;
}

.difference-dropdown-container {
    display: flex;
    align-items: center;
    color: white;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: blink 1.5s infinite;
  color: yellow;
}

.spinner {
    position: fixed;
    top: 45%;
    left: 45%;
text-align: center;
    z-index: 999;
    
}

.spinner-border {
	--bs-spinner-width: 6rem;
    --bs-spinner-height: 6rem;
    --bs-spinner-border-width: 0.75rem;
    color: yellow;
    animation: rotateAndBlink 1s linear infinite;
}

.spinner-border span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotateAndBlink {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    50% {
        opacity: 0;
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}












