.pulsate {
    animation: pulsate 10s infinite;
    pointer-events: none;
}

@keyframes pulsate {
    0% {
        opacity: 0.05;
    }
    50% {
        opacity: 1;
	}    
    100% {
        opacity: 0.05	;
    }
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#textHeader {
    font-size: x-large;
    opacity: 0;
    animation: fadeIn 4s ease forwards; 
    margin-bottom: 2%; 
}

#textBody {
    font-size: medium;
    opacity: 0;
    animation: fadeIn 8s ease forwards; 
    margin-bottom: 5%; 
}
.indexImage {
	position: absolute;
	top: 0%;
	left: 0%;
 	width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.btn-dark {
    font-size: x-large;
    color: white;
    position: relative;
}

.btn-dark::before {
    content: "";
    position: absolute;
    top: -20%;
    left: -30%;
    width: 150%;
    height: 150%;
    background: black;
    filter: blur(30px);
    z-index: -1;
}
