.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

#questionMark {
	cursor: pointer; 
	font-size: 30px; 
	font-weight: bold;
	width: 40px; 
	height: 40px; 
	background-color: black;
}
