@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#greet {
	color: black;
  	animation: blink 2.5s;
  	-webkit-text-stroke: 1px white;
}

#line {
	border-top: 2px solid white;
	opacity: 100;
  	border-radius: 5px;
}


#linkGoToWork:hover {
	color: #FFC107 !important;
}

#linkBackToCalculations:hover {
	color: #FFC107 !important;
}

#splashImage {
	max-width: 50%;
}

#modification button {
    width: auto;
    margin-bottom: 1%;
}

#usernameForm {
    border: none;
}

#emailForm {
    border: none;
}

#passwordForm {
    border: none;
}

#deleteForm {
    border: none;
}

.spinner {
    position: fixed;
    top: 45%;
    left: 45%;
text-align: center;
    z-index: 999;
    
}

.spinner-border {
	--bs-spinner-width: 6rem;
    --bs-spinner-height: 6rem;
    --bs-spinner-border-width: 0.75rem;
    color: yellow;
    animation: rotateAndBlink 1s linear infinite;
}

.spinner-border span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotateAndBlink {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    50% {
        opacity: 0;
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}