#tableContainer {
    max-width: 90%;
    max-height: 70vh;
    overflow-x: auto;
    overflow-y: auto;

  
}

#browseFile {
	margin-right: 15px;
}

#fileName {
	font-size: medium;
	font-weight: bold;
	background-color: #212529;
}

#uploadTable {
	border: 1px solid white;
}

#uploadTable caption {
	position: sticky;
	z-index: 1;
	top: 0;
  	font-weight: bold;
  	padding: 10px;
  	background-color:#212529;
  	color:#4BDE4B; 
  	caption-side: top;
  	border: 2px solid white;
  	border-collapse: collapse;
}

#uploadTable thead {
	position: sticky;
	top: 48px;
}

#uploadButton {
	margin-left: 15px;
	margin-right: 15px;
}

#filterButton {
	margin-left: 15px;
	margin-right: 15px;
}

#modifyButton {
	margin-left: 15px;
}

#goBackLink {
	margin-left: 15px;
}

#formModify select {
	width: 100%;
  	height: 50%;
  	padding-top:0;
  	padding-bottom:0;
}
#formModify input {
	width: 100%;
	height: 50%;
	padding-top:0;
	padding-bottom:0;
}

#formModify label {
  color: white;
  font-size: small;
  font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: blink 1.5s infinite;
  color: yellow;
}




.spinner {
    position: fixed;
    top: 45%;
    left: 45%;
text-align: center;
    z-index: 999;
    
}

.spinner-border {
	--bs-spinner-width: 6rem;
    --bs-spinner-height: 6rem;
    --bs-spinner-border-width: 0.75rem;
    color: yellow;
    animation: rotateAndBlink 1s linear infinite;
}

.spinner-border span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotateAndBlink {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    50% {
        opacity: 0;
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}




