<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CDR561E72H"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-CDR561E72H');
		</script>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="közúti zajszámító, zajszámító applikáció, zaj, közúti zajterhelés, védőtávolság, hatásterület, egyenértékű A-hangyomásszint">
		<title>KözútiZajSzámítóApp - Bejelentkezés</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/common.css">
		<link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
	</head>
	<body>
		<!-- Nav bar and Collapse menu -->
        <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
          <div class="bg-dark p-4">
            <h4>-</h4>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">Főoldal</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login">Bejelentkezés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/contact">Kapcsolat</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link text-light" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Segítség</a>
 					</li>               
                </ul>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>                   
            </button>  
            <div class="d-flex text-center">
                <span class="text-light">Elfelejtett jelszó</span>
            </div>                              
          </div>
        </nav>
        
        <div class="offcanvas offcanvas-start w-25" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-theme="dark">
		  <div class="offcanvas-header">
		    <h5 class="offcanvas-title fw-bold fs-3" id="offcanvasWithBothOptionsLabel">Útmutató</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body" id="offcanvasContentContainer">
			 <!-- Content loads dynamically -->
		  </div>
		</div>
		
		<!-- spinner for loading status -->
		<div id="spinner" class="spinner-border spinner" role="status" style="display: none;">
		    <span>Loading...</span>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="row mt-5 pt-5 pb-2 ms-5 ps-5">
						<p class="text-danger fs-2 fw-bold font-monospace">!!!!!!</p>
						<p class="text-light fs-5">Az űrlap kitöltésével és jóváhagyásával kizárólag az emailben küldött jelszóval tudsz belépni!</p>
						<p class="text-light fs-5">Belépés után a 'Saját Profil' oldalon változtasd meg az ideiglenes jelszavad!</p>
					</div>
					<div class="row mt-5 pt-5 pb-5 ps-5 ms-5">
					    	<form th:action="@{/forgotPassword/form}" method="post" id="forgotPasswordForm" class="mb-4 w-50">
						  		<!-- Username input -->
								<div class="form-floating mb-4">
									<input type="text" name="username" class="form-control form-control-lg" placeholder="Felhasználó név" />
									<label>Felhasználó név</label>					
								</div>				
						  		<!-- Email input -->
							  	<div class="form-floating mb-4">
							    	<input type="text" name="email" class="form-control form-control-lg" placeholder="Email-cím" />	
							    	<label>Email-cím</label>				    	
							  	</div>
						 		<!-- Confirm Email input -->
							  	<div class="form-floating mb-4">
							    	<input type="text" name="emailConfirm" class="form-control form-control-lg" placeholder="Email-cím megerősítése" />
							    	<label>Email-cím megerősítése</label>						        	
						      	</div>	
						      		
					      		<!-- Errors -->			 	 
							 	<div th:if="${usernameEmptyError != null}" th:text="${usernameEmptyError}" class="text-danger"></div> 
								<div th:if="${emailEmptyError != null}" th:text="${emailEmptyError}" class="text-danger"></div>
								<div th:if="${emailConfirmEmptyError != null}" th:text="${emailConfirmEmptyError}" class="text-danger"></div>
								<div th:if="${emailsDontMatchError != null}" th:text="${emailsDontMatchError}" class="text-danger"></div>
								<div th:if="${existingUserNotFoundError != null}" th:text="${existingUserNotFoundError}" class="text-danger"></div>
								<div th:if="${existingEmailNotFoundError != null}" th:text="${existingEmailNotFoundError}" class="text-danger"></div>
								<div th:if="${userHasDifferentEmailError != null}" th:text="${userHasDifferentEmailError}" class="text-danger"></div>
								<div th:if="${emailHasDifferentUserError != null}" th:text="${emailHasDifferentUserError}" class="text-danger"></div>
								<div th:if="${emailSendingError != null}" th:text="${emailSendingError}" class="text-danger"></div>
						    	
						    	<button type="submit" class="btn btn-dark">OK</button>
		
							</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center mt-5 pt-5 pb-5">
						<img id="crackImage" class="img-fluid pb-5 mb-5" src="/static/images/cracked6.png" alt="Sample image" style="max-width: 70%; margin-top: 10%;">
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		


    	<footer class="bg-dark text-light text-center py-2 fixed-bottom footer">
			<div class="row align-items-center">			
				<div class="col-md-4 text-start ps-4">
					<div class="btn-group dropup" data-bs-theme="dark">
						<button type="button" id="footerButton" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							v2.1 - 2024.03.06.
						</button>
						<ul id="footer-menu" class="dropdown-menu">
							<li><a class="dropdown-item disabled" href="#">v1.0 - 2024.02.08.</a></li>
					    	<li><a class="dropdown-item disabled" href="#">v2.0 - 2024.02.23.</a></li>				    	
					  	</ul>
					</div>
				</div>
				<div class="col-md-4">
					<p>"Copyright &#169;" Ákos Szabó - 2024</p>
				</div>
				<div class="col-md-4 text-end pe-4">
					<p>TESZTELÉS ALATT! Hibák előfordulhatnak a programban!</p>
				</div>	        
	        </div>
		</footer>
		
		<script async>
		  // Use fetch to load the offcanvas content
		  fetch('/static/offcanvas-content.html')
		    .then(response => response.text())
		    .then(html => {
		      document.getElementById('offcanvasContentContainer').innerHTML = html;
		    })
		    .catch(error => console.error('Error loading offcanvas content:', error));
		</script>


		
		
		<script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    	
	</body>
</html>