<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Regisztráció</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/css/login.css">
	</head>
	<body>
		<!-- Nav bar and Collapse menu -->
        <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
          <div class="bg-dark p-4">
            <h4>-</h4>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">Főoldal</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login">Bejelentkezés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/contact">Kapcsolat</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link text-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Segítség</a>
 					</li>
                </ul>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>                   
            </button>  
            <div class="d-flex text-center">
                <span class="text-light">Regisztráció</span>
            </div>                              
          </div>
        </nav>
        
        <div class="offcanvas offcanvas-start w-25" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-theme="dark">
		  <div class="offcanvas-header">
		    <h5 class="offcanvas-title fw-bold" id="offcanvasWithBothOptionsLabel">Útmutató</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body" id="offcanvasContentContainer">
			 <!-- Content loads dynamically -->
		  </div>
		</div>


		<section class="vh-100">
	  		<div class="container-fluid h-custom">
			    <div class="row d-flex justify-content-center align-items-center h-100">
					
					<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-0">
												<p class="text-center text-dark-emphasis h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Regisztráció</p>

				    	<form th:action="@{/registration}" th:object="${userDto}" method="post" class="mb-4">
					      	<!-- Username input -->
							<div class="form-outline mb-4">
								<input type="text" th:field="*{username}" required id="form3Example3" class="form-control form-control-lg" placeholder="Felhasználó név"/>
							</div>
							<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
		                    <div th:if="${usernameExistError != null}" th:text="${usernameExistError}" class="text-danger"></div>
		                    <div th:if="${bothExistError != null}" th:text="${bothExistError}" class="text-danger"></div>
		                    <div th:if="${userDto.username != null && userDto.isUsernameValid() == false}" class="text-danger">Csak angol ábécé karaktereit és számokat lehet megadni.</div>	
		                    <!-- Email input -->
							<div class="form-outline mb-4">
								<input type="email" th:field="*{email}" required id="form3Example3" class="form-control form-control-lg" placeholder="Email" />
							</div>
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                    		<div th:if="${emailExistError != null}" th:text="${emailExistError}" class="text-danger"></div>	
                    		<div th:if="${userDto.email != null && userDto.isEmailValid() == false}" class="text-danger">Hibás email formátum.</div>	
					      	<!-- Password input -->
					      	<div class="form-outline mb-3">
					        	<input type="password" th:field="*{password}" required  id="form3Example4" class="form-control form-control-lg" placeholder="Jelszó" />
					      	</div>
							<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
							<!-- Password confirm -->
					      	<div class="form-outline mb-3">
					        	<input type="password" th:field="*{passwordConfirm}" required  id="form3Example4" class="form-control form-control-lg" placeholder="Jelszó megerősítése" />
					      	</div>
							<div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger"></div>
							<div th:if="${passwordsNotMatchError != null}" th:text="${passwordsNotMatchError}" class="text-danger"></div>
					      	
					      	<div class="text-center text-lg-start mt-4 pt-2 mb-4">
					        	<input type="submit" class="btn btn-secondary btn-lg" value="Regisztráció" style="padding-left: 2.5rem; padding-right: 2.5rem;"></input>
					      	</div>
				    	</form>	    
					</div>
					
					<div class="col-md-9 col-lg-6 col-xl-5 mt-5 pt-5 pb-5 offset-xl-1">
						<img src="/static/images/soundWaveEar.jpeg" class="img-fluid" alt="Sample image">
					</div>
			    </div>	    
			</div>		
		</section>

    	
    	
    	<footer class="bg-dark text-light text-center py-2 fixed-bottom footer">
	        <p>"Copyright &#169;" Ákos Szabó - 2024</p>
		</footer>
		
		<script>
		  // Use fetch to load the offcanvas content
		  fetch('/static/offcanvas-content.html')
		    .then(response => response.text())
		    .then(html => {
		      document.getElementById('offcanvasContentContainer').innerHTML = html;
		    })
		    .catch(error => console.error('Error loading offcanvas content:', error));
		</script>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    	
		
		
	</body>
</html>

